.container {
    display: flex;
    justify-content: space-around;
    margin-left: -14px;
}

.packageItem {
    width: 23%; 
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0; 
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.title {
    font-size: 20px; 
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.link {
    color: #00b7c3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
