.header {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure header is on top */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    max-width: 75rem;
    margin: 0 auto;
    height: 100%;
    flex-wrap: nowrap; /* Prevent wrapping */
}

.sidebarToggle {
    background: #007bff;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo {
    margin-left: 0.5rem;
}

.logo img {
    height: 3.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 1rem;
}

.navList {
    display: flex;
    list-style: none;
    margin: 9px;
    padding: 100px;
    width: 100%; 
    justify-content: space-evenly;
}

.navItem {
    text-align: center;
}

.navLink {
    text-decoration: none;
    color: #3d49d5;
    font-weight: 500;
    padding: 0.625rem;
    border: 2px solid transparent;
    border-radius: 0.3125rem;
    transition: border-color 0.3s, color 0.3s;
    display: block;
}

.navLink:hover {
    color: #007bff;
    border-color: #007bff;
}

.actions {
    display: flex;
    align-items: center;
}

.loginButton, .signupButton {
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.3125rem;
}

.loginButton {
    background-color: transparent;
    color: #007bff;
    margin-right: 0.625rem;
}

.signupButton {
    background-color: #007bff;
    color: #fff;
}

.signupButton:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navList {
        flex-direction: column;
        width: 100%;
    }

    .navItem {
        margin: 0;
        width: 100%;
    }

    .navLink {
        padding: 0.9375rem;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .sidebarToggle.active + .nav {
        display: flex;
    }

    .actions {
        margin-right: 0.625rem;
    }
}
