.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    flex-shrink: 0;
}

.mainContent {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
}


.section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%; /* Chiều ngang full màn hình */
}

.footer {
    flex-shrink: 0;
}
